<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--    配置实体类别名-->
    <typeAliases>
        <package name="com.slz.springmvc.entity"/>
    </typeAliases>
    <!--    配置mapper基准包-->
    <mappers>
        <package name="com.slz.springmvc.mapper"/>
    </mappers>
</configuration>